#!/bin/bash

# Python 3 is needed for remote patching
dnf install -y python3 unzip nano jq

# Install and configure firewalld
dnf install firewalld
systemctl enable --now firewalld
firewall-cmd --zone=public --add-port=80/tcp --permanent
firewall-cmd --reload

# Install AWS SSM 
dnf install -y https://s3.eu-west-2.amazonaws.com/amazon-ssm-eu-west-2/latest/linux_amd64/amazon-ssm-agent.rpm
systemctl enable --now amazon-ssm-agent

# Install docker
dnf install -y yum-utils
dnf config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo
dnf install -y docker-ce docker-ce-cli containerd.io
systemctl enable --now docker.service
systemctl status docker.service

# Start docker swarm
docker swarm init
docker pull ${container}:${container_tag}
docker service create --name my-swarm ${container}:${container_tag}
docker service update --publish-add mode=host,target=80,published=80 my-swarm