.header {
	width: 100vw;
	height: 5rem;
	display: flex;
	/* padding: 0 10px; */
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgb(172, 172, 172);
	background-color: #59678c;
}

.logo {
	font-size: 2rem;
	color: white;
	padding-left: 5%;
}

.nav {
	padding-right: 5%;
}

.nav ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.nav li {
	margin-left: 1.5rem;
	font-size: 1.25rem;
}

.nav a {
	text-decoration: none;
	color: #88dfdf;
}

.nav a:hover,
.nav a:active,
.nav a.active {
	color: #e6fcfc;
}

.logout-btn {
	text-decoration: none;
	color: #88dfdf;
	cursor: pointer;
}
